#root {
	max-width: 1400px;
	margin: 0 auto auto auto;
	padding: 0;
	text-align: left;
	font-size: 1rem;
	line-height: 1.5;
	font-family: "IBM Plex Sans", systen-ui, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-variation-settings: "wdth" 100;
}

body {
	background: none;
}

*::selection {
	background: #000;
	color: #ffffff;
}
*::-moz-selection {
	background: #000;
	color: #ffffff;
}
*::-webkit-selection {
	background: #000;
	color: #ffffff;
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

:root {
	/* color-scheme: light dark; */
	color: black;
	background-color: #f5f5f5;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

.plex-mono-normal {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

.plex-mono-italic {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-style: italic;
}

.plex-sans {
	font-family: "IBM Plex Sans", systen-ui, sans-serif;
}

.medium {
	font-weight: 500;
}

.text-base {
	font-size: 0.875rem;
	line-height: 1.714;
}

.text-sm {
	font-size: 0.75rem;
	line-height: 1.6666;
}

h1,
h2,
h3 {
	font-family: "Instrument Serif", serif;
	font-weight: 500;
	text-wrap: balance;
}

h1 {
	font-size: 5em;
	line-height: 1.1;
	margin: 0;
}

input {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	width: 8em;
	text-align: right;
	border: none;
	outline: none;
	background: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.button {
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	transition: 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button span {
	display: block;
	border: none;
	padding: 0.857em 1.2em;
	font-family: inherit;
	background-color: black;
	color: white;
	width: 100%;
}
.button:hover span,
.button:focus span,
.button:focus-visible span {
	border-color: #646cff;
	background: oklch(0.2 0.3 260 / 1);
}
.button:focus-visible {
	outline: none;
	box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

.error {
	border: solid 1px rgb(250, 250, 250, 0.6);
	outline: solid 1px rgba(0, 0, 0, 0.4);
	background: #222;
	color: white;
	border-radius: 0.75em;
}

.error p {
	margin: 0;
	padding: 0;
	font-weight: 500;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

hr {
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.06);
	margin: 0;
}

.form-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 0.5em;
	border: solid 1px rgba(0, 0, 0, 0.08);
}

.form-group .input-group-layout {
	padding: 0.75em 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.375em;
}

.form-group .input-group:hover {
	background-color: rgba(0, 0, 0, 0.02);
}

.card {
	display: grid;
	width: 100%;
	min-width: 100%;
	grid-template-columns: repeat(
		auto-fit,
		minmax(min(100%, max(6rem, calc((100% / 7)))), 1fr)
	);
}

@media all and (max-width: 768px) {
	.card {
		display: flex;
		flex-flow: row wrap;
	}
	.card > * {
		/* flex-grow: 1; */
		flex-basis: calc((100% / 4) - 1rem);
	}
}

.mask-overlay::before {
	content: "";
	top: 0px;
	left: 0px;
	width: 100%;
	height: 10em;
	background-size: 8px 8px;
	mask-image: linear-gradient(173deg, black 0%, transparent 50%);
	position: absolute;
	background-color: transparent;
	background-image: radial-gradient(
		oklch(from #c8c9cc l c h / 100%) 1px,
		transparent 1px
	);
	z-index: -1;
}
